<!DOCTYPE html>
<html>
        <head>
            <title>About</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href = "css/bootstrap.min.css" rel = "stylesheet">
			<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
               
		<style type="text/css">
			body {
				background-color: #19327D;
				padding-bottom: 110px;
			}
			
			#contentWrap{
			display: none;
			}
			
		</style>
		</head>
		
		
        <body>
               
            <div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				
				<a href = "#" class = "navbar-brand"><font face="trebuchet MS" size="5" color="white">Reservation</font></a>
				
				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
				
				<div class = "collapse navbar-collapse navHeaderCollapse">
				
					<ul class = "nav navbar-nav navbar-right">
					
						<li ><a href = "/">Home</a></li>
					
						<li class = "active"><a href = "/about">About</a></li>
						<li><a href = "#contact" data-toggle="modal">Feedback</a></li>
					
					</ul>
				
				</div>
				
			</div>
			</div>
               
        <div class = "container">
                     <div class = "row">
                   
                        <div class = "col-lg-9">
                       
                            <div class = "panel panel-default">
                           
                                <div class = "panel-body">
                                   
                                    <div class = "page-header">
																	
                                        <h3>About This Project</h3>
                                    </div>
                                   
                                    
                                   
                                    <p> <font>This project has been developed using <strong>NODE.JS</strong> and <strong>MongoDB</strong> as Database. And it has been Deployed on <strong>Heroku</strong> Cloud.
										<br><br> For any information about this project, you may contact following persons: <br>
										
										<div class="panel-group" id="accordion">
										  <div class="panel panel-default">
											<div class="panel-heading">
											  <h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
												  Arvind Radhakrishnen
												</a>
											  </h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse">
											  <div class="panel-body">
												Reachable via : arvind.kr@tcs.com   or  arvind.k.r@bankofamerica.com
											  </div>
											</div>
										  </div>
										  <div class="panel panel-default">
											<div class="panel-heading">
											  <h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
												  Somenath Ghosh
												</a>
											  </h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
											  <div class="panel-body">
												Reachable via : somenath.ghosh@tcs.com   or  somenath.ghosh@bankofamerica.com
											  </div>
											</div>
										  </div>
										  <div class="panel panel-default">
											<div class="panel-heading">
											  <h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
												  Chandrasekhar Nampally
												</a>
											  </h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse">
											  <div class="panel-body">
												Reachable via : chandrasekhar.nampally@tcs.com   or  chandrasekhar.nampally@bankofamerica.com
											  </div>
											</div>
										  </div>
										  
										  <div class="panel panel-default">
											<div class="panel-heading">
											  <h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
												  Prasun Sharma
												</a>
											  </h4>
											</div>
											<div id="collapsefour" class="panel-collapse collapse">
											  <div class="panel-body">
												Reachable via : prasun.sharma@tcs.com   or  prasun.sharma@bankofamerica.com
											  </div>
											</div>
										  </div>
										  
										</div>
									
									
									
									</font></p>
                                   
                                    <h4></h4>
                                   
                                    <p> </p>
                                   
                                   
                                </div>
                           
                            </div>
                       
                        </div>
                       
                      </div>
                   
                </div>
               
        <!--       	
		<div class = "navbar navbar-inverse navbar-fixed-bottom">
		
			<div class = "container">
				<p class = "navbar-text pull-left">&copy;This work is licensed under
					<a href="http://www.tcs.com/Pages/default.aspx">Tata Consultacy Services </a></p>
					
					<a href = "#" class = "navbar-btn btn-default btn-sm btn pull-right" id="btnSubmit"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
				
			</div>
		
		</div>
        -->
		
        <div class = "modal fade" id = "contact" role = "dialog">
		    <div class = "modal-dialog">
		        
				
				<div class = "modal-content">
					
					<!--
					<div  id="contentWrap" class="alert alert-success">
							<p id="success"><center>Thanks for your feedback</center></p>
					</div>
					-->
					
		            <form id="setNick1" class = "form-horizontal" action="/feedback" method ="POST">
		                <div class = "modal-header">
		                    <h4>TCS Lab Reservation Team Feedback</h4>
		                </div>
						<div id="thank"></div>
		                <div  class = "modal-body" id="feedForm">
						
		                    <div class = "form-group">
		                        
		                        <label for = "contact-name" class = "col-sm-2 control-label">Name:</label>
		                        <div class = "col-sm-10">
		                            
		                            <input name="name" type = "text" class = "form-control" id = "contact-name" placeholder = "Full Name">
		                            
		                        </div>
		                        
		                    </div>
		                    
		                    <div class = "form-group">
		                        
		                        <label for = "contact-email" class = "col-sm-2 control-label">Emp ID</label>
		                        <div class = "col-sm-10">
		                            
		                            <input name="empID" type = "number" class = "form-control" id = "contact-empID" placeholder = "TCS ID">
		                            
		                        </div>
		                        
		                    </div>
		                    
		                    <div class = "form-group">
		                        
		                        <label for = "contact-msg" class = "col-sm-2 control-label">Message:</label>
		                        <div class = "col-sm-10">
		                            
		                            <textarea name="feedback" id="contact-feedback" class = "form-control" rows = "8"></textarea>
		                            
		                        </div>
		                        
		                    </div>
		                
		                </div>
		                <div class = "modal-footer">
                            <a class = "btn btn-default" data-dismiss = "modal" id="btnClose" >Close</a>    
		                    <button class = "btn btn-primary" type = "submit" id="sendFeedback">Send</button>
		                </div>
		            </form>
					
		        </div>
		    </div>
		</div>
		
		<!-- Alert Modal -->
		
		<div class = "modal fade"  id = "AlertModal" role = "dialog">
		    <div class = "modal-dialog  modal-sm" style="top:50px;">
		        
				
				<div class = "modal-content">
				
					<div class = "modal-header">
		                <font color='red'><strong>Alert...!!! </strong> </font>
						<a class = "pull-right" data-dismiss = "modal"  ><font color='red' size='4'><span class="glyphicon glyphicon-remove"></span></font></a> 
							
		            </div>
						
		            <div  class = "modal-body" id="feedForm2">
	   
		            

					<div id="AlertA"></div>
					</div>
					
		        </div>
		    </div>
		</div>
		
		
		
		
		<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src = "js/bootstrap.js"></script>
		<script src="jq/jquery.plugin.js"></script>
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
		jQuery(function($){
			var socket = io.connect();
			
			var $nickForm = $('#setNick');
			var $feedForm = $('#setNick1');
			
			var $nickError = $('#nickError');
			
			var $nickBox = $('#nickname');
			var $nickBoxFrom = $('#fromWidget');
			var $nickBoxTo = $('#toWidget');
			
			var $nameBox = $('#contact-name');
			var $empIDBox = $('#contact-empID');
			var $feedbackBox = $('#contact-feedback');
			
			
			
			//var $messageForm = $('#send-message');
			//var $messageBox = $('#message');
			
			var $chat = $('#chat');
			var $thank = $('#thank');
			
			//var $schedule = $('#schedule');
			
			var $fromDate = new Date();
			var $toDate  = new Date();
			
			$nickForm.submit(function(e){
				e.preventDefault();
				//alert($nickBox.val());
				if ($nickBox.val() >= 5 && $nickBox.val() <= 14 ) {
				
					$("#chat").html("<font color='black'>Unavailable Schdules</font><br/>");
					socket.emit('new user', $nickBox.val(), $nickBoxFrom.val(), $nickBoxTo.val(), function(data){
						if(data){
							//$('#nickWrap').hide();
							//$('#contentWrap').show();
							
						} else{
							//$nickError.html('No Schedule available');
						}
					});
					
				}
				else {
					alert("Machine number must be within 5 - 14 ");
					return false;
				}
				
			});
			
			
			socket.on('usernames', function(data){
				fromDate = new Date(data.timeFrom);
				toDate = new Date(data.timeTo);
				fromMonth = fromDate.getUTCMonth() + 1;
				toMonth = toDate.getUTCMonth() + 1;
				
				$chat.append('<center><font color="black">' + fromMonth + "/"+fromDate.getUTCDate()+ " "+ fromDate.getUTCHours() + ":" + fromDate.getUTCMinutes()+" -- " + toMonth + "/"+ toDate.getUTCDate()+ " "+ toDate.getUTCHours() + ":" + toDate.getUTCMinutes() + "</font></center><br/>"); 
								
			
			});
			
			
			$feedForm.submit(function(e){
				e.preventDefault();
				if ( $nameBox.val()=="" || $nameBox.val() == parseInt($nameBox.val()) ){
					
					alertM("Please enter valid Name");
					return false;
				}
				
				if ( $empIDBox.val()=="" || $empIDBox.val() != parseInt($empIDBox.val()) ){
					
					alertM("Please enter valid Employee ID");
					return false;
				}
				if ( $feedbackBox.val()=="" ){
					
					alertM("Feedback can not be empty");
					return false;
				}
				else {
				socket.emit('feedback', $nameBox.val(), $empIDBox.val(), $feedbackBox.val(), function(data){
					if(data){
						$('#feedForm').hide();
						//$('#contentWrap').show();
						
					} else{
						//$nickError.html('No Schedule available');
					}
				});
				}
				//$nickBox.val('');
			});
			
			$("#btnClose").click(function(e){
				$('#contact-feedback').val('');
				$('#feedForm').show();
				$('#sendFeedback').show();
				$('#thank').hide();
				
			});
			
				
			socket.on('thanks', function(data){
				$('#thank').show();
				$('#sendFeedback').hide();
				$("#thank").html("<font color='black'><strong></strong></font>");
				$thank.append('<br><center><font color="black">' + data.message + "</font></center><br/>"); 
			});
			
			
			var alertM = function($m) { 
				$('#AlertModal').modal('show');
				//$('#AlertA').show();
				$("#AlertA").html("<font color='black' ><strong></strong></font>");
				$("#AlertA").append('<center><font color="black" face="trebuchet MS" size="3">' + $m + "</font></center>"); 
				$('#AlertModal').modal('show');
			};
			
		});
	</script>
	
	
        </body>
</html>