<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Charlotte Lab</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
	
	<style>
		.glyphicon-hdd {
			width: 96px;
			height: 96px;
			background-size: 938px 318px;
			background-position: -624px -48px;
		} 
		
		
		.form-signin
		{
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
			
		}
		.form-signin .form-signin-heading, .form-signin .checkbox
		{
			margin-bottom: 10px;
		}
		.form-signin .checkbox
		{
			font-weight: normal;
		}
		.form-signin .form-control
		{
			position: relative;
			font-size: 16px;
			height: auto;
			padding: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.form-signin .form-control:focus
		{
			z-index: 2;
		}
		.form-signin input[type="text"]
		{
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.form-signin input[type="password"]
		{
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		.account-wall
		{
			margin-top: 20px;
			padding: 40px 0px 20px 0px;
			background-color: #f7f7f7;
			-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			border-radius : 10px;
			opacity:0.90;
			filter:alpha(opacity=90);
		}
		.login-title
		{
			color: #555;
			font-size: 18px;
			font-weight: 400;
			display: block;
		}
		.profile-img
		{
			width: 96px;
			height: 96px;
			margin: 0 auto 10px;
			display: block;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}
		.need-help
		{
			margin-top: 10px;
		}
		.new-account
		{
			display: block;
			margin-top: 10px;
		}
		
		
	</style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<a href="#"><i class="fa fa-bars"></i></a>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">CLT Lab</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="hidden-xs">
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<ul class="nav navbar-nav ulClass">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="page-scroll hidden" style="text-align:left">
							<a id="aReservation" href="#reservation" onclick="$('#reservation').removeClass('hidden').addClass('visible');"><center><i class="glyphicon glyphicon-th-list"></i></center>My Reservations</a>
						</li>
						<li class="page-scroll" style="text-align:left">
							<a id="aAbout" href="#about"><center><i class="glyphicon glyphicon-info-sign"></i></center>About</a>
						</li>
						<li class="page-scroll" style="text-align:left">
								<!-- Button trigger modal -->
							
							<a data-toggle="modal" data-target="#myModal"><center><i class="glyphicon glyphicon-envelope"></i></center>Feedback</a>
			
						</li>
						<li class="page-scroll hidden" style="text-align:left">
							<a href="#LogOut"><center><i class="glyphicon glyphicon-log-out"></i></center>Logout</a>
						</li>
						<li class="page-scroll" style="text-align:left">
							<a href="#inventoryControl"><center><i class="fa fa-building-o"></i></center>Inventory</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="Search software">
						</div>
					</form>
				</div>
			</div>
			
			
			
			<div class="visible-xs">
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<ul class="nav navbar-nav ulClass" style="font-size:0.75em">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="page-scroll hidden" style="font-size:1em; text-align:left">
								<a href="#reservation" onclick="$('#reservation').removeClass('hidden').addClass('visible');"><center><i class="glyphicon glyphicon-th-list" style="float:right"></i></center>My Reservations</a>
						</li>
						<li class="page-scroll" style="font-size:1em; text-align:left">
							<a href="#about"><center><i class="glyphicon glyphicon-info-sign" style="float:right"></i></center>About</a>
						</li>
						<li class="page-scroll" style="font-size:1em; text-align:left">
							<a data-toggle="modal" data-target="#myModal"><center><i class="glyphicon glyphicon-envelope" style="float:right"></i></center>Feedback</a>
						</li>
						<li class="page-scroll hidden" style="font-size:1em; text-align:left">
						<a href="#contact"><center><i class="glyphicon glyphicon-log-out" style="float:right"></i></center>Logout</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
					  <input type="text" class="form-control" placeholder="Search" style="text-align:center">
					</div>
				  </form>
				</div>
			</div>
			
			
			
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<section id="loginform" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">

					 <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-xs-offset-1 col-md-offset-4">
						
						<div class="account-wall">
							
							<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
								alt="">
							<form class="form-signin">
								
								<input type="text" class="form-control" id = "Login-empID" placeholder="TCS ID" required autofocus>
								
								<input type="password" class="form-control" id = "Login-Password" placeholder="Password" required>
								<button class="btn btn-lg btn-success btn-block " data-loading-text="Wait..." type = "button" id="sendLogin">Sign In</button>
								
							
							</form>
						</div>
						<a href="#" class="text-center new-account">Create an account </a>
					</div>
  
                </div>
            </div>
        </div>
    </section>
	
    <section id="workStationList" class="hidden">
        <div class="intro-body">
            <div class="container" style="padding-top:100px">
				<div class = "page-header">
						<h3>Pick Your Workstation To Reserve</h3>
				</div>
                <div class="row">
					<input type="hidden" id="testinput" placeholder="text" value="test"></input>
					<form id="workstationform" name="workstationform" >
						<div class="btn-group page-scroll visible-lg visible-md">
							<div class="col-md-12 col-md-offset-0" style="padding-bottom:50px">	
								<div class="col-md-2 col-md-offset-1">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
											<a href="#timeslot">
											<button type="button" id="workstation1" value="5" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 5</button></i>
											</a>
								</div>
								<div class="col-md-2">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation2" value="6" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 6</button></i>
										</a>
								</div>
								<div class="col-md-2">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation3" value="7" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 7</button></i>
										</a>
								</div>
								<div class="col-md-2">
										<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
											<button type="button" id="workstation4" value="8" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 8</button></i>
										</a>
								</div>
								<div class="col-md-2">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation5" value="9" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 9</button></i>
										</a>
								</div>
							</div>
							<div class="col-md-12 col-md-offset-0">	
								<div class="col-md-2 col-md-offset-1">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation6" value="10" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 10</button></i>
										</a>
								</div>
								<div class="col-md-2">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation7" value="11" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 11</button></i>
										</a>
								</div>
								<div class="col-md-2">
								<i class="glyphicon glyphicon-hdd" style="font-size:2em">
									<a href="#timeslot">
									<button type="button" id="workstation8" value="12" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 12</button></i>
									</a>
								</div>
								<div class="col-md-2">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation9" value="13" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 13</button></i>
										</a>
								</div>
								<div class="col-md-2">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation10" value="14" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 14</button></i>
										</a>
								</div>
							</div>
						</div>
					
						<div class="btn-group page-scroll hidden-lg hidden-md">
							<div class="col-md-12 col-md-offset-0" style="padding-bottom:50px">	
								<div class="col-md-2 col-md-offset-1">
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
											<a href="#timeslot">
											<button type="button" id="workstation11" value="workstation1" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 5</button></i>
											</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation12" value="workstation2" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 6</button></i>
										</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation13" value="workstation3" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 7</button></i>
										</a>
										<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
											<button type="button" id="workstation14" value="workstation4" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 8</button></i>
										</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation15" value="workstation5" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 9</button></i>
										</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation16" value="workstation6" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 10</button></i>
										</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation17" value="workstation7" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 11</button></i>
										</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation18" value="workstation8" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 12</button></i>
										</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation19" value="workstation9" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 13</button></i>
										</a>
									<i class="glyphicon glyphicon-hdd" style="font-size:2em">
										<a href="#timeslot">
										<button type="button" id="workstation20" value="workstation10" class="btn btn-default btn-md" onclick="$('#timeslot').removeClass('hidden').addClass('visible'); $('#testinput').val(this.value);">PC 14</button></i>
										</a>
								</div>
							</div>
							
						</div>	
					</form>
                </div>
            </div>
        </div>
        
    </section>

    <section id="timeslot" class="container content-section text-center hidden">
		<div class = "container">
                     <div class = "row">                  
                        <div class = "col-lg-12 col-xs-12 col-sm-12 col-md-12 page-scroll">
                            <div class = "panel panel-default">
                           
                                <div class = "panel-body">
								
                                    <div class = "page-header">	
                                        <h3><font color="black">Pick Your Timeslot</font></h3>
                                    </div>
									<p> <font color="black">Please use the dropdown below to choose the date you would like to reserve your workstation.									
										<!-- <form action="demo_form.asp"> --> 
										  <input type="text" id="datepicker2">
										  <input type="submit" onclick="$('#timetable123').removeClass('hidden').addClass('visible'); $('#timetable1235').removeClass('hidden').addClass('visible'); $('#submitbutton123').removeClass('hidden').addClass('visible');">
										<!-- </form> --> 
									
									<form id="timeScheduleForm" name="timeScheduleForm">
										<div class="table-responsive hidden-xs">
										<table id="timetable123" class="table table-hover  hidden">
											<h4><caption>Available Times</caption></h4>
											<th colspan=6>
												<center>Times</center>
											</th>
											<tr>
												<td><button type="submit" id="timebutton0" value="8amto9am" class="btn btn-success btn-md">8:00am-9:00am</button></td>
												<td><button type="submit" id="timebutton1" value="9amto10am" class="btn btn-success">9:00am-10:00am</button></td>
												<td><button type="submit" id="timebutton2" value="11amto12pm" class="btn btn-danger">11:00am-12:00pm</button></td>
											</tr>
											<tr>
												<td><button type="submit" id="timebutton3" value="4pmto5pm" class="btn btn-success btn-md">4:00pm-5:00pm</button></td>
												<td><button type="submit" id="timebutton4" value="5pmto6pm" class="btn btn-danger">5:00pm-6:00pm</button></td>
												<td><button type="submit" id="timebutton5" value="6pmto7pm" class="btn btn-success btn-md">6:00pm-7:00pm</button></td>
											</tr>
											<tr>
												<td><button type="submit" id="timebutton6" value="10pmto11pm" class="btn btn-success btn-md">10:00pm-11:00pm</button></td>
												<td><button type="submit" id="timebutton7" value="11pmto12pm" class="btn btn-success btn-md">11:00pm-12:00am</button></td>
												<td><button type="submit" id="timebutton8" value="12amto1am" class="btn btn-success btn-md">12:00am-1:00am</button></td>
											</tr>
											<tr>
												<td><button type="submit" id="timebutton9" value="4amto5am" class="btn btn-success btn-md">4:00am-5:00am</button></td>
												<td><button type="submit" id="timebutton10" value="5amto6am" class="btn btn-danger">5:00am-6:00am</button></td>
												<td><button type="submit" id="timebutton11" value="6amto7am" class="btn btn-success btn-md">6:00am-7:00am</button></td>
											</tr>
										</table>
									</div>							

									<div class="table-responsive visible-xs">
										<table id="timetable1235" class="table table-hover hidden">
											<h4><caption>Available Times</caption></h4>
											<th colspan=1>
												<center>Times</center>
											</th>
											<tr>
												<td><button type="submit" id="timebutton12" value="8amto9am" class="btn btn-success btn-md">8:00am-9:00am</button></td>
											</tr>
											<tr>
												<td><button type="submit" id="timebutton13" value="4pmto5pm" class="btn btn-success btn-md">4:00pm-5:00pm</button></td>
											</tr>
											<tr>
												<td><button type="submit" id="timebutton14" value="10pmto11pm" class="btn btn-success btn-md">10:00pm-11:00pm</button></td>
											</tr>
											<tr>
												<td><button type="submit" id="timebutton15" value="4amto5am" class="btn btn-success btn-md">4:00am-5:00am</button></td>
											</tr>
										</table>
									</div>
									</font></p>
										<a href="#download">
										<button type="button" id="submitbutton123" class="btn btn-default btn-md hidden" onclick="$('#download').removeClass('hidden').addClass('visible'); ">Select Time</button></td>
										</a>
									</form>
									<!-- Old info goes here --> 
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
    </section>

     <section id="reservation" class="container content-section text-center hidden">
		<div class = "container">
                     <div class = "row">                  
                        <div class = "col-lg-12  page-scroll">
                            <div class = "panel panel-default">
                                <div class = "panel-body">
									<p> <font color="black">
									<div class="table-responsive">
                                    </div>
									<p> <font color="black">Please use the dropdown below to choose the date you would like to check your reservations for
										<!-- <form action="demo_form.asp"> --> 
										<input type="text" id="datepicker">
										<input type="submit" onclick="$('#timeslot1234').removeClass('hidden').addClass('visible');">
										<!-- </form> --> 
										
										<form id="myreservations" name="myreservations" action="/myreservations" method="post">
		
											<table id="timeslot1234" class="table table-hover hidden">
												<h4><caption>Your Reserved Times</caption></h4>
												<th colspan=6>
													<center>Times</center>
												</th>
												<tr>
													<td><button type="submit" class="btn btn-success btn-md">8:00am-9:00am</button><input type="image" src="img/imageX.jpg" id="reservationbutton1" value="reservecancel1"></input></td>
													<td><button type="submit" class="btn btn-success btn-md">3:00pm-4:00pm</button><input type="image" src="img/imageX.jpg" id="reservationbutton2" value="reservecancel2"></i></td>
												</tr>
												<tr>
													<td><button type="submit" class="btn btn-success btn-md">4:00pm-5:00pm</button><input type="image" src="img/imageX.jpg" id="reservationbutton3" value="reservecancel3"></i></td>
													<td><button type="submit" class="btn btn-success btn-md">9:00pm-10:00pm</button><input type="image" src="img/imageX.jpg" id="reservationbutton4" value="reservecancel4"></i></td>
												</tr>
												<tr>
													<td><button type="submit" class="btn btn-success btn-md">10:00pm-11:00pm</button><input type="image" src="img/imageX.jpg" id="reservationbutton5" value="reservecancel5"></i></td>
													<td><button type="submit" class="btn btn-success btn-md">11:00pm-12:00am</button><input type="image" src="img/imageX.jpg" id="reservationbutton6" value="reservecancel6"></i></td>
												</tr>
											</table>

									</div>
									</form>
									</font></p>                                   
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
    </section>
	
	 <section id="download" class="content-section text-center hidden">
         <div class="download-section">
             <div class="container">
                 <div class="col-lg-8 col-lg-offset-2">
 					<div class="panel panel-primary">
 						<!-- Default panel contents -->
 						<div class="panel-heading">Please Enter Your Statement of Purpose</div>
 						<!-- Table -->
 						<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
 							<textarea rows="6" class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="" style="width:100%;"></textarea>
 						</div>
					</div>
					<p></p>
					<form id="reserve" name="reserve" action="/finalizereservation" method="post">
						<button type="submit" id="reservebutton" value="reserve1" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2">Reserve</button>
					</form>
					</div>
             </div>
         </div>
     </section>

	 
	<section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="color:white">
                <h2>About this webpage</h2>
                <p>This webpage has been created using Bootstrap UI Framework, jQuery/AJAX, Express NodeJS Framework, and MongoDB for the database.</p>
				<p>It is hosted on Heroku.<p>
                <p hidden>Our team had three on the backend working with NodeJS, three on the frontend working with ajax and bootstrap, and two working on documentation.</p>
                <p  hidden>The following people were assigned to each component:</p>
				<p>Frontend: Dumar Canas, Brian Ferry, Nebil Sherif</p>
				<p>Backend: Steven Pettit, Kevin Silliman, Yu Chen</p>
				<p>Documentation: Josette Seitz, David Duran</p>
            </div>
        </div>
    </section>

	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="setNick1" class="form-horizontal" action="/feedback" method="POST">
						<div class="modal-header">
							<h4>TCS Lab Feedback</h4>
						</div>
						<div id="thank"></div>
						<div class="modal-body" id="feedForm">                    
							<div class="form-group">
								<label for="contact-msg" class="col-sm-2 control-label">Message:</label>
								<div class="col-sm-10">
									<textarea name="feedback" id="contact-feedback" class="form-control" rows="8"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a class="btn btn-default" data-dismiss="modal" id="btnClose">Close</a>    
							<button class="btn btn-success" data-loading-text="sending..." type="button" id="sendFeedback">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Success!</h4>
			  </div>
			  <div class="modal-body">
				You have successfully registered!
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>

    <!-- Core JavaScript Files -->
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	
	<script src = "js/bootstrap.js"></script>

	
	<script>
		jQuery(function($){
			
			$( "#datepicker" ).datepicker();
			$( "#datepicker2" ).datepicker();
			//alert('Hello');
			var $sessionData = "";
		
			$('#sendLogin').click(function(e){
				e.preventDefault();
				
				//alert($('#Login-empID').val());
				
				if($('#Login-empID').val() ==""){
					alert('Please enter Employee ID');
					return false;
				}
				
				if($('#Login-Password').val() == ""){
					alert('Please enter Password');
					return false;
				}
				var btn = $(this);
				btn.button('loading');
				var data = {};
				data.emp = $('#Login-empID').val();
				data.pass = $('#Login-Password').val();
				
				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					url: '/LoginReservation',						
					success: function(data) {
						
						alert('success');
						btn.button('reset');
						$sessionData.id= data.emp;
						$sessionData.name = data.name;
						$(".ulClass li:nth-child(2)").removeClass("hidden");
						$(".ulClass li:nth-child(5)").removeClass("hidden");
						$("#loginform").addClass("hidden");
						$("#workStationList").removeClass("hidden").addClass("intro");
						
						
					},
					error: function (error) {
						alert('error');
					}
					
				});	
			
			});
		

		
		});
	</script>
</body>

</html>
